/*.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: #fff;
}

.app-header .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.app-header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.app-header nav a {
  color: #fff;
  text-decoration: none;
}
.app-header nav a:hover {
  text-decoration: underline;
}
